<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><i class="fas fa-home"></i></li>
    </ol>
  </nav>
</div>
<div class="jumbotron">
  <h1 class="display-4">Olá, seja bem-vindo!</h1>
  <p class="lead">O Microempreendedor Individual ou MEI é um profissional liberal que trabalha por conta própria e possui obrigações mais simplificadas dentre os outros formatos de empresas existentes. Mesmo sendo um sistema que possui suas facilidades, muitas dúvidas podem surgir, e foi pensando nisso que o "Módulo MI" surgiu, para auxiliar estes empreendedores a crescer ainda mais com os seus negócios.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg disabled" href="#" role="button">Saiba Mais</a>
  </p>
</div>
